<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="Aravind V. Nair" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
		<link href="css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div id="snackbar">Some text some message..</div>
		<style>
			/* The snackbar - position it at the bottom and in the middle of the screen */
			#snackbar {
				visibility: hidden; /* Hidden by default. Visible on click */
				min-width: 250px; /* Set a default minimum width */
				margin-left: -125px; /* Divide value of min-width by 2 */
				background-color: #333; /* Black background color */
				color: #fff; /* White text color */
				text-align: center; /* Centered text */
				border-radius: 2px; /* Rounded borders */
				padding: 16px; /* Padding */
				position: fixed; /* Sit on top of the screen */
				z-index: 1; /* Add a z-index if needed */
				left: 50%; /* Center the snackbar */
				bottom: 30px; /* 30px from the bottom */
			}
			/* Show the snackbar when clicking on a button (class added with JavaScript) */
			#snackbar.show {
				visibility: visible; /* Show the snackbar */
				/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
				-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
				-moz-animation: fadein 0.5s, fadeout 0.5s 2.5s;
				-o-animation: fadein 0.5s, fadeout 0.5s 2.5s;
				animation: fadein 0.5s, fadeout 0.5s 2.5s;
			}
			/* Animations to fade the snackbar in and out */
			@-webkit-keyframes fadein {
				from {
					bottom: 0;
					opacity: 0;
				}
				to {
					bottom: 30px;
					opacity: 1;
				}
			}
			@-moz-keyframes fadein {
				from {
					bottom: 0;
					opacity: 0;
				}
				to {
					bottom: 30px;
					opacity: 1;
				}
			}
			@-o-keyframes fadein {
				from {
					bottom: 0;
					opacity: 0;
				}
				to {
					bottom: 30px;
					opacity: 1;
				}
			}
			@keyframes fadein {
				from {
					bottom: 0;
					opacity: 0;
				}
				to {
					bottom: 30px;
					opacity: 1;
				}
			}
			@-webkit-keyframes fadeout {
				from {
					bottom: 30px;
					opacity: 1;
				}
				to {
					bottom: 0;
					opacity: 0;
				}
			}
			@-moz-keyframes fadeout {
				from {
					bottom: 30px;
					opacity: 1;
				}
				to {
					bottom: 0;
					opacity: 0;
				}
			}
			@-o-keyframes fadeout {
				from {
					bottom: 30px;
					opacity: 1;
				}
				to {
					bottom: 0;
					opacity: 0;
				}
			}
			@keyframes fadeout {
				from {
					bottom: 30px;
					opacity: 1;
				}
				to {
					bottom: 0;
					opacity: 0;
				}
			}
		</style>
		<script>
			function showSnackbar(message) {
				var x = document.getElementById("snackbar");
				x.className = x.className.replace("show", "");
				x.innerHTML = message;
				// Add the "show" class to DIV
				x.className = "show";
				// After 3 seconds, remove the show class from DIV
				setTimeout(function () {
					x.className = x.className.replace("show", "");
				}, 3000);
			}
		</script>

		<div class="s128">
			<form>
				<div class="inner-form">
					<div class="row" style="text-align: center; font-size: x-large">
						<h1>Start searching!</h1>
						<br />
						<div class="input-field first" id="first">
							<input
								class="input"
								id="inputFocus"
								type="text"
								placeholder="Keyword"
								onkeypress="return (getRating(event,this))"
							/>
							<button class="clear" id="clear">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path
										d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
									></path>
								</svg>
							</button>
						</div>
						<p id="pythonOutput"></p>
					</div>
				</div>
			</form>
		</div>
		<script>
			var btnDelete = document.getElementById("clear");
			var inputFocus = document.getElementById("inputFocus");
			btnDelete.addEventListener("click", (e) => {
				e.preventDefault();
				inputFocus.value = "";
			});
			document.addEventListener("click", (e) => {
				if (document.getElementById("first").contains(e.target)) {
					inputFocus.classList.add("isFocus");
				} else {
					inputFocus.classList.remove("isFocus");
				}
			});
			function getRating(event, str) {
				var input = str.value;
				if (event.charCode === 13) {
					showSnackbar("Crunching tweets for a rating! Almost there!");
					document.getElementById("pythonOutput").innerHTML = `Please wait! Querying for ${str.value}...`;
					fetch("/getRating", {
						method: "POST",
						body: new URLSearchParams(encodeURIComponent("input") + "=" + encodeURIComponent(str.value))
					})
						.then((response) => {
							if (response.status !== 200) {
								alert("Looks like there was a problem. Status Code: " + response.status);
								return;
							}
							if (response.status == 200) {
								response.json().then((data) => {
									document.getElementById("pythonOutput").innerHTML = `${input} got ${data}`;
									document.getElementById("snackbar").className.replace("show", "");
									showSnackbar(`${input} got ${data}`);
								});
							}
						})
						.catch((err) => {
							alert("Fetch Error :-S", err);
							document.getElementById("pythonOutput").innerHTML = `Fetch Error: ${err}`;
						});
				}
			}
		</script>
	</body>
</html>
